body { 
    background-image: url('./5748.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
 .center {
    padding: 70px 0;
    } 

.Button {
width: 100px;
}
        
.cardd {
    box-shadow: 0 1px 5px rgb(0 0 0 / 20%), 0 2px 2px rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%);
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 9px 15px rgb(0 0 0 / 20%), 0 2px 2px rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%);
}

.rightToleft{
    float: right;
}


.rightToleftt{
    text-align: right;
}

.label{
    padding-right: 5px;
}