


.Sidebar-menu{
    position: relative;
    background-color: white;
    width:300px;
    height: 100vh;
    box-sizing: border-box;
    transition: width 2 ease-in;
    margin-top: -5px;
    

}

.Sidebar-menu.inactive{
    width:80px;
}

.Sidebar-menu .Topsection .logo{
    width:60px;
    height: 60px;
    margin-top: 10px;
    margin-right: 10px;
    overflow: hidden;
    display:inline-block;
}

.Sidebar-menu .Topsection .logo img{
    max-width:100%;
    max-height: 100px;
    
}

.Sidebar-menu .Topsection .arrowicon{
    color:rgb(12, 11, 11);
    display:inline-block;
    position: absolute;
    margin-top: 10px;
    margin-right: 10px;
    top: 0;
    left: 0;
    cursor: pointer;
    font-size: 2em;
    left:5%
}
.Sidebar-menu.inactive .Topsection .arrowicon{
    left:27px;
    font-size: 2em;
}

.divaider{
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background-color: #333;
}

.Sidebar-menu .main-menu .menu-item{
    color:#333;
    text-decoration: none;
    font-size:15px;
    display:block;
    font-weight: 600;
    padding-right: 15px;
}

.Sidebar-menu .main-menu .menu-item span{
    position: absolute;
    display: inline-block;
    line-height: 40px;
    opacity: 1;
    transition: opacity .2s ease-in;
    padding-right: 2px;
}

.Sidebar-menu.inactive .main-menu .menu-item span{
    opacity: 0;
    width:0;
    height: 0;
    overflow: hidden;
}

.Sidebar-menu .main-menu{
    margin:5px 0px;
}
.Sidebar-menu .main-menu .menu-item .menu-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.Sidebar-menu .main-menu .sub-menu {
    color:#333;
    text-decoration: none;
    margin-right: 20px;
    border-right: 1px solid #666;
    box-sizing: border-box;
    padding-right: 20px;
    max-height:0 ;
    overflow: hidden;
    transition: max-height 0.2s ease-in;

}

.Sidebar-menu .main-menu .sub-menu.active{
    max-height:200px ;
}

.Sidebar-menu .main-menu .sub-menu .sub-menu-item{
    display: block;
    margin: 15px 0;
    text-decoration: none;
    padding-right: 15px;
    font-size: 15px;
    font-weight: 600px;
    color:#333;

}

.CaretDownFill-loc{
    left:5%;
}