.DocumentObservation{
    width:100%
}

.cantainer-documentObservation{
    width: 100%;
    margin-top: 20px;
    margin-right:1.5em
}

.title .title-class{
    font-size: 1.5em;
    font-weight: Bold;
}

.Table{
    text-align: center;
    width: 100%;
    border: 1px solid black;
    margin-top: 14px;
}