.cantainer-documentObservation{
    width: 100%;
    margin-top: 3em;
    margin-right:1.5em
}

.title .title-class{
    font-size: 1.5em;
    font-weight: Bold;
}

.Table{
    text-align: center;
    width: 100%;
}