.topbar{
    width: 100%;
    height: 50px;
    background-color:  rgb(201, 102, 201);
    position: sticky;
    top:0;
    z-index: auto;
    direction: ltr !important;
}

.topbarWraper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo{
    color:rgb(17, 16, 16);
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}


.topLeft{
    display: flex;
    align-items: center;
}

.topbarIconContainer {
    position: relative;
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer;
    color:rgb(19, 18, 18)
}
.tapIconBadg {
    font-size: 8px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    left: 12px;
    background-color: red;
    color: white;
    border-radius: 50%;
}
.topAvatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.Clock{
   
    padding: 10px; 

}

.clockShow{
    color:rgb(19, 18, 18);
    font-size:17px;
    
}




body {
    margin: 0px !important;
}
