

/* .forgetpassword{
  flex:4;
  margin: 20px;
  padding: 20px;
}

.cardHeight{
  height: 100vh;
}


.style1{color: white;}



.datalistclass,select{
  direction: rtl;
  text-align: right;

}

.Cardborder {
  padding-top: 3rem;
  border-radius: 15px 50px;
}

.Buttonsubmit {
  width: 20%;
} */



body {
  direction: rtl;
  text-align: right !important;
  line-height: 1.6;
  background: #fff;
}

.wb-bg-banner {
  height: 100vh;


}

/* .backgroundStayle{
  background-image: url('./background.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  height:100vh;
} */

