

    body {
        font-family: 'Vazir';
        font-weight:normal;
        }



    .style {
        background-color:rgb(13 69 120);
          }
    .style1{color: white;}

    .style2 {
        position: absolute;
        width: 100%;
        z-index: 1;
        height: 100%;
        top: 0;
        left: 0;
    }

    .container{
        text-align: center;
      }